<!--Video #10 Uso de ngIf-->
<h1 class="container bg-dark text-white text-center my-4 py-4">Prueba de ngIf - Valor = {{show}}</h1>



<div class= "container">

<button class="btn btn-info mb-3 " (click)="show=!show" >Boton que activa bloques</button>


    <p class=" text-info" *ngIf="show; else showdos"> 
      Se encuentra activado el bloque 1
    </p>

<ng-template #showdos>
  
    <p class=" text-danger"> Ahora se encuentra activado el bloque 2 </p>

    <p class="text-success">{OtraMODDD]Este texto tambien es parte del bloque 2</p>

</ng-template>

</div>

<!--Video #11 Uso de ngClass-->
<!--
<h1 class="container bg-dark text-white text-center my-4 py-4">[ngClass]</h1>
-->

<!--
  <p class=" text-info" > 
      Pato ronco federico gorra nacen con el corazon ortiva
    </p>


<button class="btn btn-warning mb-3" (click)="show=!show" >Alerta</button>

<button class="btn btn-success mb-3" (click)="show=!show" >Exito</button>

-->